.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.slides-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
}

.slides {
  display: flex;
  gap: 16px;
  max-width: 100%;
  align-items: center;
  list-style: none;
  margin: 0;
  overflow-x: overlay;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slide {
  width: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
