.weather-slider-skeleton-wrapper {
  min-height: 275px;
  background-image: linear-gradient(180deg, #badcdd 0%, var(--accent-dark) 100%);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-slider-skeleton {
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 32px 64px;
}

.weather-slider-skeleton__slide {
  width: 100%;
  flex: 1 0 100%;
  max-width: 1200px;
}

@media screen and (max-width: 900px) {
  .weather-slider-skeleton {
    padding-inline: 32px;
  }
}

@media screen and (max-width: 640px) {
  .weather-slider-skeleton {
    padding-inline: 20px;
  }
}
