.location-options-list {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: white;
  overflow: hidden;
  transition: height 0.1s ease-out;
}

.location-option {
  padding: 8px 16px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: background-color 0.1s ease-out;
}

.location-option:hover {
  background-color: whitesmoke;
}

.location-option:focus {
  outline-width: 0;
  outline-color: transparent;
}

.location-option_selected {
  background-color: #abdcff;
}

.location-option_selected:hover {
  background-color: var(--accent-light);
}

.location-options_transition {
  transition: height 0.2s ease-out;
}
