.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section {
  min-height: 275px;
  background-image: linear-gradient(180deg, #badcdd 0%, var(--accent-dark) 100%);
  overflow-x: hidden;
  padding-inline: 64px;
  display: flex;
  align-items: center;
}
