.section {
  min-height: 275px;
  background-image: linear-gradient(180deg, #badcdd 0%, #29b2ff 100%);
  overflow-x: hidden;
  padding: 52px 64px;
}

.weather-slider__slides {
  gap: 0;
}

.weather-slider__slide {
  perspective: 1000px;
}
