.path-animate {
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  stroke-dasharray: 100;
  stroke: url(#icon-gradient);
  transition: d 0.2s ease-out;
}

.icon_loading .path-animate {
  d: path(
    "M 12.965 4.138 C 15.607 4.138 18.274 5.212 20.106 7.115 C 21.901 8.979 22.896 11.472 22.879 14.059 C 22.859 17.069 21.467 19.905 19.098 21.761 C 18.309 22.379 17.431 22.873 16.493 23.226 C 15.432 23.626 14.14 23.84 13.006 23.861 C 11.951 23.879 10.501 23.637 9.501 23.237 C 8.501 22.837 7.701 22.337 6.901 21.737 C 4.501 19.937 3.101 17.037 3.122 14.048 C 3.101 11.437 4.101 8.937 5.901 7.137 C 7.701 5.237 10.447 4.106 12.965 4.138 Z"
  );
  transform-origin: center;
  animation: loading 1s 0.2s linear infinite;
}

.icon_error .path-animate {
  d: path(
    "M 12.999 1 C 14.227 1 15.338 1.358 16.142 1.938 C 16.946 2.517 17.443 3.317 17.443 4.201 C 17.443 5.086 16.946 8.971 16.142 12.633 C 15.889 13.784 15.606 14.914 15.298 15.922 C 14.628 18.118 13.841 19.736 12.999 19.736 C 12.158 19.736 11.372 18.118 10.701 15.92 C 10.394 14.914 10.111 13.784 9.858 12.633 C 9.054 8.971 8.557 5.085 8.557 4.201 C 8.557 3.317 9.054 2.517 9.858 1.938 C 10.662 1.358 11.773 1 12.999 1 Z"
  );
}

.icon-gradient {
  stop-color: var(--text-main);
  transition: stop-color 0.2s ease-out;
}

.icon_loading .icon-gradient__from {
  stop-color: var(--accent-light);
}

.icon_loading .icon-gradient__to {
  stop-color: var(--accent-dark);
}

.icon_error .icon-gradient__from,
.icon_error .icon-gradient__to {
  stop-color: var(--text-danger);
}

.inner-circle {
  transform-origin: center;
  transition: scale 0.2s 0.1s var(--back-out), translate 0.2s ease-out, r 0.2s ease-out, stroke 0.2s ease-out;
}

.icon_loading .inner-circle {
  scale: 0;
  stroke: var(--accent-light);
  translate: 0 2px;
  transition: scale 0.2s var(--back-in), translate 0.2s ease-out, r 0.2s ease-out, stroke 0.2s ease-out;
}

.icon_error .inner-circle {
  r: 2;
  translate: 0 13px;
  stroke: var(--text-danger);
}

.icon_loading.icon_error-prev .inner-circle {
  translate: 0 20px;
}

@keyframes loading {
  100% {
    rotate: -1turn;
  }
}
