.widget {
  display: grid;
  grid-template-columns: max-content 34px max-content 34px max-content 34px auto;
  align-items: center;
  min-height: 170px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 16px 18px;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1), 0px 2px 40px 0px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  color: var(--text-main);
  transition: opacity 0.25s ease-out, scale 0.25s ease-out;
}

.widget:not(.widget_active) {
  opacity: 0.4;
  scale: 0.925;
  cursor: pointer;
}

.widget:not(.widget_active):hover {
  opacity: 0.55;
  scale: 0.95;
}

.temp-main {
  font-size: 3.5em;
  font-weight: 300;
  margin-block: auto;
  margin-left: 30px;
}

.separator {
  flex-shrink: 0;
  margin-inline: 16px;
  height: 65px;
  width: 2px;
  border-radius: 100vmax;
  background-color: var(--accent-light);
}

.day-info {
  list-style: none;
  padding: 0;
  margin-inline: 8px;
  flex-shrink: 0;
}

.day-info__date {
  display: flex;
  align-items: center;
  gap: calc(1em / 1.8);
  font-size: 1.125em;
  font-weight: 600;
  margin-bottom: 12px;
}

.calendar-icon {
  height: calc(4em / 3);
}

.day-info__forecast {
  display: flex;
  flex-direction: column;
}

.day-forecast__row {
  display: flex;
  gap: calc(1em * 0.375);
  align-items: center;
}

.day-forecast__text {
  display: inline-flex;
  gap: calc(1em * 0.625);
  align-items: center;
}

.day-forecast__icon {
  font-size: 1.5em;
}

.day-forecast__temp {
  font-weight: 300;
  font-size: 1.125em;
}

.astronomy {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  flex-shrink: 0;
}

.astronomy__item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  font-weight: 300;
}

.astronomy__item-icon {
  height: 1.25em;
}

.feels-like {
  display: none;
}

@media screen and (max-width: 900px) {
  .widget:not(.widget_active) {
    scale: 0.95;
  }

  .temp-main {
    margin-left: 20px;
  }

  .day-info {
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  .widget {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 640px) {
  .widget {
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "temp date astronomy"
      "daily daily daily";
    column-gap: 10px;
    row-gap: 4px;
    padding: 8px 18px;
  }

  .widget_with-hourly-forecast {
    grid-template-areas:
      "temp date astronomy"
      "daily daily daily"
      "hourly hourly hourly";
  }

  .astronomy {
    grid-area: astronomy;
  }

  .temp-main {
    margin-left: 0;
    font-size: 3em;
    grid-area: temp;
  }

  .day-info__date {
    grid-area: date;
  }

  .day-info__forecast {
    grid-area: daily;
  }

  .hourly-forecast {
    grid-area: hourly;
    justify-self: center;
    max-width: 100%;
    margin-block: 8px;
  }

  .day-info {
    display: contents;
  }

  .separator,
  .calendar-icon {
    display: none;
  }

  .day-info__date {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin: 0;
  }

  .widget_with-hourly-forecast .day-info__forecast {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 6px;
  }

  .feels-like {
    display: block;
    font-weight: 300;
  }
}

@media screen and (max-width: 400px) {
  .widget {
    font-size: 1.3rem;
    padding-inline: 12px;
  }
}