.hourly-forecast {
  overflow-x: hidden;
  position: relative;
}

.hourly-forecast__list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  overflow-x: hidden;

  mask-image: linear-gradient(to right, transparent, white 10%, white 90%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, white 10%, white 90%, transparent);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 120%;
  -webkit-mask-size: 120%;
  -webkit-mask-position-x: center;
  transition: mask-size 0.2s ease-out, -webkit-mask-size 0.2s ease-out, -webkit-mask-position-x 0.2s ease-out;
}

.hourly-forecast_scrollable {
  -webkit-mask-position-x: 100%;
}

.hourly-forecast_scrolled {
  mask-size: 100%;
  -webkit-mask-size: 100%;
}

.hourly-forecast_scrolled:not(.hourly-forecast_scrollable) {
  mask-size: 120%;
  -webkit-mask-size: 120%;
  -webkit-mask-position-x: 0;
}

.hourly-forecast__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.forecast__time {
  font-weight: 300;
  margin-bottom: 4px;
}

.forecast__temp {
  font-weight: 600;
}

.hourly-forecast__button {
  border: none;
  border-radius: 100vmax;
  padding: 4px;
  width: 24px;
  height: 24px;
  position: absolute;
  margin-block: auto;
  top: 0;
  bottom: 0;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: background-color 0.2s ease-out;
}

.hourly-forecast__button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.hourly-forecast__button_prev {
  left: 0;
  rotate: 0.5turn;
}

.hourly-forecast__button:hover svg {
  animation: move-arrow-icon 0.3s ease-out;
}

.hourly-forecast__button_next {
  right: 0;
}

.scroll-button-enter {
  scale: 0;
  opacity: 0;
}

.scroll-button-entering {
  scale: 1;
  opacity: 1;
  transition: scale 0.2s ease-out, opacity 0.2s ease-out;
}

.scroll-button-exit {
  scale: 1;
  opacity: 1;
}

.scroll-button-exiting {
  scale: 0;
  opacity: 0;
  transition: scale 0.2s ease-out, opacity 0.2s ease-out;
}

@keyframes move-arrow-icon {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 2px 0;
  }
}
