.container {
  position: fixed;
  top: 28px;
  left: 28px;
  z-index: 10;
  width: 100%;
  max-width: 350px;
}

.content {
  position: relative;
  border: 2px solid var(--accent-light);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
  color: var(--text-main);
  overflow: hidden;
}

.glare {
  position: absolute;
  inset: 0;
  opacity: 0.3;
  background-image: linear-gradient(120deg, transparent 10%, var(--accent-light) 35%, transparent 35%);
  animation: move-glare 1s ease-in-out infinite;
}

.glare-exit-active {
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
  cursor: pointer;
}

.location-input-wrapper {
  position: relative;
  mask-image: linear-gradient(to right, white, white 95%, transparent);
  mask-size: 200%;
  mask-repeat: no-repeat;
  -webkit-mask-image: linear-gradient(to right, white, white 95%, transparent);
  -webkit-mask-size: 200%;
  -webkit-mask-repeat: no-repeat;
  transition: -webkit-mask-position 0.4s ease-in, mask-position 0.4s ease-in;
}

.location-input_loading .location-input-wrapper {
  mask-position: 200%;
  -webkit-mask-position: 200%;
}

.location-input {
  border: none;
  font-family: inherit;
  font-size: 24px;
  color: inherit;
  padding: 18px 36px 18px 16px;
  text-overflow: ellipsis;
  width: 100%;
  transition: border-radius 0.2s ease-out;
}

.location-input:focus {
  outline-color: transparent;
  outline-width: 0;
}

.location-icon {
  position: absolute;
  right: 8px;
  top: 22px;
  height: 24px;
  pointer-events: none;
  transition: scale 0.2s var(--back-out), opacity 0.2s var(--back-out);
}

.location-input_loading .location-icon {
  scale: 0;
  opacity: 0;
}

.backdrop_enter {
  opacity: 0;
}

.backdrop_enter-active {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.backdrop_exit {
  opacity: 1;
}

.backdrop_exit-active {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

@keyframes move-glare {
  0% {
    translate: -40%;
  }
  100% {
    translate: 100%;
  }
}