.container {
  position: fixed;
  top: 28px;
  left: 28px;
  z-index: 10;
  width: 100%;
  max-width: 350px;
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
  cursor: pointer;
}

.location-input-wrapper {
  position: relative;
  color: var(--text-main);
  border: 2px solid var(--accent-light);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
}

.location-input {
  border: none;
  font-family: inherit;
  font-size: 24px;
  color: inherit;
  padding: 18px 36px 18px 16px;
  text-overflow: ellipsis;
  width: 100%;
  transition: border-radius 0.2s ease-out;
}

.location-input:focus {
  outline-color: transparent;
  outline-width: 0;
}

.location-icon {
  position: absolute;
  right: 8px;
  top: 22px;
  height: 24px;
  pointer-events: none;
}

.backdrop_enter {
  opacity: 0;
}

.backdrop_enter-active {
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

.backdrop_exit {
  opacity: 1;
}

.backdrop_exit-active {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
